
local.properties
*.jks
*.keystore
keystore.properties


.gradle/
build/
!gradle-wrapper.jar

captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.aar

*.iml
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/

.kotlin/


.DS_Store
Thumbs.db


*.log
